header {
  width: 100%;
  overflow: auto;
  z-index: -1;
  background-color: #ffffff;
  border-bottom: grey solid 1px;
  margin-bottom: 35px;
}

body {
  background-image: url("../images/stonehaven.png");
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

h1 {
  font-size: 35px;  
  font-weight:bold

}

h2 {
  font-size: 24px;
  font-weight:bold;
  text-align:center;
  margin-top: 10px;
}
 
p {
  font-color:#777777;
  line-height: 2.5em;
  margin-top: 15px;
  text-align:left;
  padding-left:30px;

}

hr {
  background-color:grey;
  height: 3px;
  margin-top: 15px;
  border: grey;
}

footer {
  width: 100%;
  border-top: #4aaaa5 solid 7px;
  color:white;
  background: #666666;
  text-align: center;
  font-size: 11px;
  padding-top: 30px;
  height:50px;
  clear: both;
}
.containerA {
  width: 960px;
  margin:0;
  padding: 0;

}

.containerB{
  margin-left: 20px;
  margin-bottom: 20px;
}
.containerA {
  padding-left:100px;
}
.connectwithme{
  margin-right: 20px;
}


.myname {
  color:white;
  background: #4aaaa5;
  padding: 23px;
  margin: 1.5px;
  float: left;
}

.nav {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  margin-top:35px;
  text-decoration: none;
  font-size: 20px;
 

}

.tabs{
  width:33.333%;
  height:20px;
  
  float:left;
  
  box-sizing: border-box;
  margin-bottom: auto;
  margin-top:auto;
  padding:10px;
  
  font-size: 20px;
/*  border:solid black 1px;
*/
}
a {
  text-decoration: none;
}



.aboutme, .connectwithme {
  background:white;
  border: #d0d0d0 
  solid .5px;
  /*margin: 50px; */
  /*padding: 30px;*/
}
/*#test {
  margin: 0 auto;
  width: 100%;
}*/

.aboutme {
  width: 650px;
  clear: both;
  float: left;
  margin-bottom: 15px;
  margin-left: 20px;
  font-color:#4aaaa5;

}
.aboutme img {
  height:250px;
  width:270px;
  float:left;
  margin-right: 10px;
}

.connectwithme {
  width: 220px;
  height: 140px;
  float:left;
  margin-left: 100px;
  font-color: #4aaaa5;
}

.connectwithme img{
  width:65px;
  height:65px;
  margin-left:5px;


}

li {
   display: inline;
   margin-right: 20px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

(PORTFOLIO)

.imageleft {
  float: left;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
  overflow: auto;

}
.imageleft h2{
  position: absolute; 
  bottom: 20px;
  width:100%;
  opacity:0.8;
  z-index:99;

}
.imageright {
  float:right;
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}

.banner {
  width: 260px;
  text-align: center;
  background: #4aaaa5;
  color: white;
  padding: 20px;
  /*margin: 0px;*/
 /* position: absolute;
  bottom: 10px;*/
}

(CONTACT)

input[type=text], textarea {
    width: 100%;
    font-size: 12px;
    border: #dddddd solid 1px;
}

input[type=text] {
    margin-bottom: 10px;
    font-size: 12px;
    width: 600px;
}

textarea {
  height: 250px;
  width: 600px ;
  
}

input[type=button] {
    background: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    padding:left;

}

form {
  margin-top: 10px;
  line-height: 1.5em;
}




@media screen and (max-width: 980px) {
.myname{
    background-color:#4aaaa5;
    width:100%;
    margin-left:0px;

  }
.containerA{
  margin-left: 0px;
}
.nav{
    clear:both;
    width: 100%;
    text-align: center; 
    height:50px;
/*    border:solid black 1px;
*/


  }
.connectwithme {
  width: 220px;
  height: 140px;
  position:relative;
  left:0;
  margin-left: 0;
  font-color: #4aaaa5;
  /*margin-left: 20px;*/
  padding:left;
}
.tabs{
  width:15%;
  margin:0 auto;
]

}

 @media screen and (max-width: 768px) {

.myname{
    background-color:red;
    width:100%;
    margin-left:0px;

  }
.containerA{
  margin-left: 0px;
}
.nav{
    clear:both;
    width: 100%;
    text-align: center; 
    height:50px;
  }
.tabs{
  width:100%;
}


}

    

@media screen and (max-width: 640px) {
  .myname{
    background-color:blue;
  }


}


















